<h1><%= @list.list_date.strftime("%d %B %Y") %></h1>

<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% if @list.tasks.any? %>
        <%= render @list.tasks %>
    <% end %>
  </div>
</div>

<h2>Add new task:</h2>
  <%= render 'tasks/task_form' %>


<%= link_to 'Back', user_lists_path(@user) %>