<% if owner? %>
<div>
  <%= link_to "#{tool.description}", generate_user_list_tasks_path(:description => tool.description,
                     :list_id => @list.id, :goal_id => tool.goal_id), method: :post %>
</div>
<% else %>
<div>
  <%= link_to "#{tool.description}", user_goal_tools_path(@user, tool.goal_id) %>
</div>
<% end %>
