<div class="container">
  <div class="row index_no_image">
  <h1>DIARY</h1>
    <% if @entries.empty? %>
      <p><%= @user.name %> does not have entries</p>
    <% end %>
    <% @entries.each do |entry| %>
      <%= link_to user_entry_path(@user, entry) do %>
        <div class="well col-md-12">
          <%= entry.day.strftime("%d %B %Y") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>