<div class="row">
  <div class="col-md-5 col-md-offset-4 sortable">
    <% if @tasks.any? %>
        <%= render @tasks %>
    <% else %>
    <p>No tasks found <%= link_to "Add task", new_user_lists_task_path %></p>
    <% end %>
  </div>
</div>