<div class="container">
  <%= div_for(@users,class: "well col-md-6 col-lg-4") do |user| %>
    <%= image_tag user.avatar.url(:thumb) %>
    <%= user.name %> | <%= link_to 'Show', user %></li>
  <% end %>
</div>