<div class="container">
  <%= div_for(@users,class: "well col-md-6 col-lg-4") do |user| %>
  	<%= link_to (image_tag user.avatar.url(:thumb)), user, :class => "index_hover" %>
    <%= user.name %>
  <% end %>
</div>