<footer>
   <div class="container">
     <div class="col-md-6">
         <h4>What is this?</h4>
         <p>This project was created to help people to use their time effectively and achieve their goals.</p>
         <a href="#">More About Us</a>
     </div>
     <div class="col-md-6">
          <h4>Links</h4>
          <ul>
              <%= render 'home/authentication' %>
              <li><%= link_to "People", users_path %></li>
              <li><a href="#">About us</a></li>
          </ul>
      </div>
    </div>
</footer>