<footer class="container">
   <div class="col-md-6">
       <h4>What is this?</h4>
       <p>This project was created to help people to use their time effectively and achieve their goals.</p>
       <a href="#">More About Us</a>
   </div>
   <div class="col-md-6">
        <h4>Links</h4>
        <ul>
            <li class="omg"><a href="#">Sign in</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
</footer>