   <header class="container navbar navbar-inverse navbar-static-top">
           <div class="navbar-header">
                <%= link_to 'Do it wisely', root_url, class: "navbar-brand" %>
                <button data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           </div>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
                <%= render 'home/authentication' %>
                <li><%= link_to "People", users_path %></li>
                <li><a href="#">About us</a></li>
            </ul>
    </header>