<div class="row about">
  <div class="col-lg-12">
    <h3>Main idea</h3>
    <p>This application is designed to help people achieve their goals.</p>
    <p>Every user has:</p>
    <ul>
      <li>Goals</li>
      <li>Calendar</li>
      <li>Diary</li>
    </ul>
    <h3 class="how_it_works">How it works</h3>
    <p>First of all user should create goal. The user can add an image that is associated with this goal. Then user can create goal's tools. Tool this is a task that can be completed many times. For example: if user has goal "I want to read 'War and Peace' by Leo Tolstoy", then task "read 100 pages" will be a good tool.</p>
    <p>In calendar you can create list with tasks for a specific day or view existing. In list user can create tasks via form or via tool. Through the tool it will create task in one click.</p>
    <p>User can complete tasks. If all tasks are completed, list will be completed too. All completed tasks will be displayed in the diary for this specific day, also here (in diary) you can add an entry about this day.</p>
  </div>
</div>