<section class="banner">
  <div class="banner-caption">
    <h1>You are awesome!</h1>
    <p>Just follow your dreams</p>
  </div>
</section>
<section class="container steps">
  <div class="row steps">
    <div class="col-md-4 col-sm-6 well">
      <i class="glyphicon glyphicon-screenshot"></i>
      <h2>1. Set a goal</h2>
    </div>
    <div class="col-md-4 col-sm-6 well">
      <i class="glyphicon glyphicon-th-list"></i>
      <h2>2. Make a list</h2>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-6 well">
      <i class="glyphicon glyphicon-road"></i>
      <h2>3. Go to your goal!</h2>
    </div>
  </div>
</section>
<section class="container sign">
  <div class="col-md-offset-2 col-md-8 well">
    <%= render 'user_link' %>
  </div>
</section>
