h2{
	text-align: center;
}

span{
	color: #999;
}

input{
	border-radius: 7px;
	border: 3px solid #ddd;
	padding: 3px;
}

input:focus{
	border-color: #d7ef8f;
}

.wrapper.well{
	max-width: 275px;
	margin: 40px auto;
	border-radius: 20px;

}

.actions{
	margin: 15px 0 15px 0;

	>input{
	display: block;
	margin: 0 auto;
	}
}

.field{
	>input{
	width: 100%;
	}

	>label{
	padding-top: 5px;
	}
}

input[type="checkbox"],label[for="user_remember_me"]{
	float: left;

}

.field.check input[type="checkbox"]{
	width: 10%;
	margin-top: 9px;
}